.arial-tenge-font{
	font-family:ArialTenge;
}
.arial-narrow-tenge-font{
	font-family:ArialNarrowTenge;
}
.georgia-tenge-font{
	font-family:GeorgiaTenge;
}
.itc-officina-sans-tenge-font{
	font-family:ItcOfficinaSansTenge;
}
.itc-officina-serif-tenge-font{
	font-family:ItcOfficinaSerifTenge;
}
.tahoma-tenge-font{
	font-family:TahomaTenge;
}
.times-tenge-font{
	font-family:TimesTenge;
}
.verdana-tenge-font{
	font-family:VerdanaTengeFont;
}
