.arial-narrow-tenge{
	font-family:ArialNarrowTenge;
}
.arial-tenge{
	font-family:ArialTenge;
}
.georgia-tenge{
	font-family:GeorgiaTenge;
}
.itc-officina-sans-tenge{
	font-family:ItcOfficinaSansTenge;
}
.itc-officina-serif-tenge{
	font-family:ItcOfficinaSerifTenge;
}
.tahoma-tenge{
	font-family:TahomaTenge;
}
.times-tenge{
	font-family:TimesTenge;
}
.verdana-tenge{
	font-family:VerdanaTenge;
}
